html,body {
  height: 100%;
  width: 100%;
}
body {
  padding-top: 50px;
  /*padding-bottom: 50px;*/
}
#map {
    height: 100%;
    width: 100%;
}
#menubox {
    position:absolute;
    right:0px;
    top:49px;
    width:240px;
    height:400px;
    z-index:25;
    background-color:white;
    display: none;
    border:1px solid #000;
    padding:10px
}

.table{
   width:30px;
   height:30px
}

.div_select{Border:1px solid #000;padding:3px;color:blue;font-weight:bold;cursor:pointer}
.div_normal{Border:1px solid #FFFFFF;padding:3px}

.div_block{display:block}
.div_none{display:none}
