html,body {
  height: 100%;
  width: 100%;
}
body {
  padding-top: 50px;
  /*padding-bottom: 50px;*/
}
#map {
    height: 100%;
    width: 100%;
}
.table{
   width:30px;
   height:30px
}
.change6{Border:1px solid #000;padding:3px;color:blue;font-weight:bold;cursor:pointer}
.change7{Border:1px solid #FFFFFF;padding:3px}

.div_block{display:block}
.div_none{display:none}
